@model IEnumerable<LaPizzeria.Models.ItemModel>

@{
    ViewData["Title"] = "Home Page";
    Layout = "_FullSizeLayout";
}
<div style="background-color:skyblue">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 pt-5 pb-5">
                <h1>LaPizza Hub's Online Ordering Website!</h1>
                <p class="pb-4">
                    Yummy Pizza delivered fast at your door step!
                </p>
                <p>
                    <a href="#heading" class="btn btn-success">ORDER ONLINE NOW!</a>
                </p>
            </div>
            <div class="col-sm-4 pt-4 pb-2">
                <img src="~/images/pizza-header.png" class="img-fluid" />
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <h2>Pizza, Dessert and Beverages</h2>
    <div class="row mt-4">
        @foreach (var item in Model)
        {
            <div class="col-sm-4 mb-3">
                <div class="card" @* style="width: 18rem;" *@>
                    <img class="card-img-top" src="@item.ImageUrl" alt="@item.Name">
                    <div class="card-body">
                        <h5 class="card-title">
                            @item.Name
                            <span class="float-end">
                                ₹@item.UnitPrice.ToString("##.#")
                            </span>
                        </h5>
                        <p class="card-text">@item.Description</p>
                        <p>
                            <span class="pt-1 d-inline-block"> Size: Regular</span>
                            <span class="float-end font-20">
                                <a href="javascript:void(0)" onclick="AddToCart('@item.Id', '@item.Name', '@item.UnitPrice', 1)" class="btn btn-outline-primary">Add To Cart</a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
